@charset "UTF-8";
* {
  color: #222;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "맑은 고딕";
}

a {
  color: #222;
  display: block;
}

ul,
li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

header {
  width: 100%;
  height: 195px;
  border-bottom: 1px solid #70b497;
}
header > div {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
}
header > div > h1 {
  float: left;
  height: 90px;
  margin-top: 20px;
  margin-right: 30px;
}
header > div > h1 img {
  height: 100%;
}
header > div .search {
  width: 560px;
  height: 50px;
  margin-top: 40px;
  border-radius: 50px;
  border: 1px solid #5055b1;
  float: left;
}
header > div .search > select,
header > div .search input,
header > div .search button {
  background: none;
  border: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
}
header > div .search > input {
  width: 65%;
}
header > div .search > button {
  float: right;
}
header > div .search > button i {
  color: #5055b1;
}
header > div .customer {
  float: right;
}
header > div .customer a {
  float: left;
}
header > div .customer a:nth-of-type(1) img {
  width: 30px;
  margin-top: 50px;
  margin-right: 30px;
}
header > div .customer a:nth-of-type(2) img {
  width: 50px;
  margin-top: 40px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 4px 7px #66c640;
  margin-right: 5px;
}
header > nav {
  clear: both;
  width: 1200px;
  height: 85px;
  margin: 0 auto;
}
header > nav > #gnb {
  height: 85px;
  line-height: 85px;
}
header > nav > #gnb > i {
  width: 45px;
  height: 45px;
  margin-top: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
  background: white;
  cursor: pointer;
  border: 1px solid #ddd;
  float: left;
  margin-right: 20px;
}
header > nav > #gnb li {
  float: left;
}
header > nav > #gnb li a {
  display: inline-block;
}
header > nav > #gnb li span {
  padding: 0 10px;
}
header > nav > #gnb > ul:nth-of-type(1) {
  float: left;
  font-weight: bold;
}
header > nav > #gnb > ul:nth-of-type(2) {
  float: right;
  font-size: 14px;
}
header > nav > #gnb > #lnb {
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  position: relative;
  display: none;
}

#contain {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
#contain .visual {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
#contain .visual > .slider {
  position: relative;
  height: 600px;
}
#contain .visual > .slider > li {
  padding-top: 50px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
#contain .visual > .slider > li h1 {
  font-size: 38px;
}
#contain .visual > .slider > li img {
  margin-left: -65px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
}
#contain .visual > .slider > li:not(:nth-of-type(1)) {
  display: none;
}
#contain .visual .visual_ad {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 10px rgba(219, 219, 219, 0.5);
}
#contain .visual .visual_ad div {
  font-size: 13px;
  width: 200px;
  font-weight: bold;
  padding: 10px 20px 30px 20px;
}
#contain .visual .visual_ad span:nth-of-type(1) {
  color: #5055b1;
}
#contain .visual .visual_ad span:nth-of-type(2) {
  color: #979797;
  font-weight: 100;
}
#contain .visual .visual_ad p {
  font-size: 15px;
  margin: 10px 0;
}
#contain .visual .visual_nav {
  position: relative;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  height: 70px;
  line-height: 70px;
  width: 150%;
  margin-left: calc((100% - 1200px) / 2 + 150px);
  margin-top: -70px;
}
#contain .visual .visual_nav li {
  float: left;
  padding: 0 25px;
  cursor: pointer;
}
#contain .visual .visual_nav .visual_nav1 li:nth-of-type(1) {
  border-bottom: 2px solid black;
  font-weight: bold;
}
#contain .visual .visual_nav .visual_nav2 img {
  height: 50px;
  margin-top: 10px;
}
#contain .visual .visual_pop {
  display: none;
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
#contain .visual .visual_pop div::-webkit-scrollbar {
  display: none;
}
#contain .visual .visual_pop div {
  overflow-y: auto;
  width: 1271px;
  height: 680px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}
#contain .visual .visual_pop div button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 30px;
  text-align: right;
}
#contain .visual .visual_pop div img {
  border-radius: 30px;
  width: 625px;
  margin-bottom: 15px;
}
#contain .visual .visual_pop div img:nth-of-type(odd) {
  margin-right: 15px;
}
#contain > section {
  width: 1200px;
  margin: 0 auto;
}
#contain > section button.more_btn {
  float: right;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 15px;
}
#contain > section button:hover span {
  border-bottom: 1px solid black;
}
#contain > section .content_box {
  position: relative;
}
#contain > section .content_box .btn {
  width: 1350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -120%);
  display: flex;
  justify-content: space-between;
}
#contain > section .content_box .btn p {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 100%;
  position: relative;
}
#contain > section .content_box .btn p i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#contain > section .section_menu {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
#contain > section .section_menu h2 {
  font-size: 30px;
  float: left;
}
#contain > section .section_menu ul li {
  font-size: 15px;
  color: #767676;
  position: relative;
  line-height: 40px;
  float: left;
  cursor: pointer;
  margin-left: 30px;
}
#contain > section .section_menu ul li:nth-of-type(1) {
  color: #5055b1;
  font-weight: bold;
}
#contain > section .section_menu ul span {
  position: absolute;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  background: #6db329;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}
#contain > section picture img {
  border: 1px solid #d8d8d8;
}
#contain section.icon {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contain section.icon div {
  cursor: pointer;
  float: left;
  text-align: center;
}
#contain section.icon div p {
  margin-top: 5px;
  font-size: 14px;
  color: #595959;
  font-weight: 600;
}
#contain section.today {
  margin-top: 30px;
}
#contain section.today .content {
  width: 100%;
  height: 310px;
  font-size: 14px;
}
#contain section.today .content > li:not(:nth-of-type(1)) {
  display: none;
}
#contain section.today .content .detail {
  width: 650px;
  float: left;
}
#contain section.today .content .detail > li:not(:nth-of-type(1)) {
  display: none;
}
#contain section.today .content .detail > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contain section.today .content .detail > li picture {
  display: block;
  width: 200px;
  height: 285px;
  overflow: hidden;
  box-shadow: 5px 5px 10px #bfbfbf;
}
#contain section.today .content .detail > li picture img {
  width: 100%;
}
#contain section.today .content .detail > li div {
  width: 420px;
}
#contain section.today .content .detail > li div h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
#contain section.today .content .detail > li div p {
  color: #595959;
}
#contain section.today .content .detail > li div span {
  margin: 20px 0;
  font-weight: bold;
  display: block;
  font-size: 16px;
}
#contain section.today .content .detail > li div p:nth-last-of-type(1) {
  line-height: 25px;
}
#contain section.today .content .other {
  width: 490px;
  height: 310px;
  float: right;
  padding-top: 30px;
}
#contain section.today .content .other p {
  display: none;
}
#contain section.today .content .other > div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#contain section.today .content .other > div ul {
  position: absolute;
  width: 200%;
  height: 100%;
  margin-left: -34.5%;
}
#contain section.today .content .other > div ul li {
  float: left;
  margin-right: 20px;
  width: 150px;
}
#contain section.today .content .other > div ul li picture {
  display: block;
}
#contain section.today .content .other > div ul li picture img {
  width: 100%;
}
#contain section.today .content .other > div ul li h4 {
  margin-top: 8px;
  font-size: 13px;
}
#contain section.ranking {
  position: relative;
  height: 580px;
}
#contain section.ranking h2 {
  font-size: 30px;
  margin-bottom: 40px;
}
#contain section.ranking .content > li:not(:nth-of-type(1)) {
  display: none;
}
#contain section.ranking .content {
  width: 100%;
  overflow: hidden;
}
#contain section.ranking .content ul {
  width: 300%;
}
#contain section.ranking .content ul li {
  float: left;
  margin-right: 40px;
  width: 270px;
}
#contain section.ranking .content ul li picture {
  display: block;
  margin-bottom: 20px;
}
#contain section.ranking .content ul li picture img {
  width: 100%;
}
#contain section.ranking .content ul li p:nth-of-type(1) {
  font-size: 13px;
  color: #767676;
}
#contain section.ranking .content ul li h3 {
  font-size: 16px;
  margin: 5px 0 8px 0;
}
#contain section.ranking .content ul li p:nth-of-type(2) {
  font-size: 14px;
  color: #595959;
}
#contain section.picks {
  width: 100%;
  margin: 100px 0;
  padding: 70px 0;
  height: 500px;
  background: rgba(77, 172, 39, 0.06);
}
#contain section.picks > div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(1) {
  width: 300px;
  float: left;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(1) span {
  color: #4dac27;
  font-size: 15px;
  font-weight: bold;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(1) h3 {
  font-size: 24px;
  margin: 10px 0 60px 0;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(1) div {
  width: 240px;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  background: #4dac27;
  border-radius: 5px;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(1) div a {
  color: white;
  font-weight: bold;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(2) {
  width: 850px;
  float: right;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(2) ul {
  display: flex;
  justify-content: space-between;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(2) ul li {
  width: 200px;
  overflow: hidden;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(2) ul li img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(2) ul li div {
  text-align: center;
  border: 1px solid #eaeaea;
  background: white;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -10px;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(2) ul li div b {
  font-size: 14px;
}
#contain section.picks > div:nth-of-type(2) > div:nth-of-type(2) ul li div p {
  margin-top: 10px;
  font-size: 13px;
}
#contain section.hit {
  padding: 70px 0;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contain section.hit > div:nth-of-type(1) {
  width: 300px;
  float: left;
}
#contain section.hit > div:nth-of-type(1) h2 {
  font-size: 30px;
}
#contain section.hit > div:nth-of-type(1) p {
  font-size: 15px;
  margin: 15px 0 30px 0;
}
#contain section.hit > div:nth-of-type(1) .more_btn {
  float: left;
}
#contain section.hit > div:nth-of-type(1) .btn {
  clear: both;
}
#contain section.hit > div:nth-of-type(1) .btn p {
  float: left;
  margin-right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 100%;
  position: relative;
}
#contain section.hit > div:nth-of-type(1) .btn p i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#contain section.hit > div:nth-of-type(2) {
  width: 870px;
  overflow: hidden;
  float: right;
}
#contain section.hit > div:nth-of-type(2) ul {
  width: 200%;
}
#contain section.hit > div:nth-of-type(2) ul li > a {
  width: 270px;
  height: 270px;
  margin-right: 30px;
  overflow: hidden;
  float: left;
  border-radius: 100%;
  position: relative;
}
#contain section.hit > div:nth-of-type(2) ul li > a img {
  width: 100%;
}
#contain section.hit > div:nth-of-type(2) ul li > a div {
  display: none;
  text-align: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contain section.hit > div:nth-of-type(2) ul li > a div p {
  line-height: 50px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
#contain section.hit > div:nth-of-type(2) ul li > a div p span {
  color: #4dac27;
}
#contain section.hit > div:nth-of-type(2) ul li > a > span {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#contain section.ad2 {
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 100px auto 100px auto;
}
#contain section.ad2 .img_box {
  overflow: hidden;
  border-radius: 10px;
  width: 49.5%;
  height: 180px;
}
#contain section.ad1 {
  margin: 100px auto 100px auto;
}
#contain section.ad1 .img_box {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 150px;
}

footer {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
}
footer li {
  float: left;
}
footer li a {
  display: inline-block;
}
footer span {
  font-weight: 100;
  padding: 0 8px;
  color: #ddd;
}
footer button {
  background: white;
  border: 1px solid gray;
  font-size: 11px;
  padding: 3px 3px;
  border-radius: 3px;
  font-weight: bold;
}
footer button b {
  color: gray;
  font-weight: 200;
}
footer > div:nth-of-type(1) {
  float: left;
}
footer > div:nth-of-type(1) > h1 {
  height: 90px;
  margin-top: 20px;
  margin-right: 30px;
}
footer > div:nth-of-type(1) > h1 img {
  height: 100%;
}
footer > div:nth-of-type(1) .fnb {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 40px;
}
footer > div:nth-of-type(1) .company {
  clear: both;
  font-size: 13px;
}
footer > div:nth-of-type(1) .company p {
  float: left;
}
footer > div:nth-of-type(1) .copy {
  clear: both;
  font-size: 12px;
  margin-top: 40px;
}
footer > div:nth-of-type(2) {
  float: right;
  margin-top: 45px;
  font-size: 12px;
}
footer > div:nth-of-type(2) select {
  background: #f0f0f0;
  border-radius: 22.5px;
  width: 200px;
  height: 45px;
  border: none;
  padding: 10px;
  margin-left: 50px;
  cursor: pointer;
}
footer > div:nth-of-type(2) .icon {
  float: right;
}
footer > div:nth-of-type(2) .icon li {
  margin-left: 10px;
  height: 45px;
  line-height: 45px;
}
footer > div:nth-of-type(2) .icon li img {
  width: 30px;
  height: 30px;
  margin-top: 7.5px;
}
footer > div:nth-of-type(2) div:nth-of-type(1) {
  clear: both;
  margin: 15px 0;
}
footer > div:nth-of-type(2) div:nth-of-type(2) {
  height: 50px;
}
footer > div:nth-of-type(2) div:nth-of-type(2) a {
  float: left;
}
footer > div:nth-of-type(2) div:nth-of-type(2) a img {
  height: 50px;
  float: left;
  margin-right: 10px;
}
footer > div:nth-of-type(2) div:nth-of-type(2) p {
  margin-top: 8px;
  float: right;
}