#contain {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#contain > div.small_nav {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 13px;
}
#contain > div.small_nav > button {
  float: left;
  margin-right: 10px;
}
#contain > div.small_nav img {
  width: 15px;
}
#contain > div.small_nav > ul > li {
  cursor: pointer;
  float: left;
  position: relative;
}
#contain > div.small_nav > ul > li h3 {
  color: #767676;
  font-size: 13px;
  padding-bottom: 10px;
}
#contain > div.small_nav > ul > li h3 span {
  font-size: 5px;
  color: #cccccc;
  padding: 0 5px;
}
#contain > div.small_nav > ul > li h3 img {
  display: inline;
  vertical-align: middle;
  margin-left: 3px;
  border-radius: 100%;
}
#contain > div.small_nav > ul > li div {
  width: 150px;
  display: none;
  position: absolute;
  left: 0;
  z-index: 3;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  padding: 10px;
}
#contain > div.small_nav > ul > li div ul li a {
  color: #636363;
}
#contain > div.small_nav > ul > li div ul li:nth-of-type(1) a {
  color: #222;
  font-weight: bold;
}
#contain > div.small_nav > ul > li div ul li:not(:nth-last-of-type(1)) {
  margin-bottom: 7px;
}
#contain > div.menu {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #767676;
}
#contain > div.menu ul {
  width: 1200px;
  margin: 0 auto;
}
#contain > div.menu li {
  float: left;
  line-height: 70px;
  margin-right: 50px;
}
#contain > div.menu li a {
  display: block;
  color: #767676;
  font-size: 16px;
  line-height: 70px;
  font-weight: 400;
}
#contain > section {
  width: 1200px;
  margin: 0 auto;
}
#contain > section.sub_visual {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto 70px auto;
}
#contain > section.sub_visual .title {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
#contain > section.sub_visual .title h2 {
  text-align: center;
  font-size: 28px;
}
#contain > section.sub_visual .title button {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ddd;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
#contain > section.sub_visual .title button img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contain > section.sub_visual .etc {
  width: 330px;
}
#contain > section.sub_visual .etc > p:nth-of-type(1) {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
#contain > section.sub_visual .etc > p:nth-of-type(2) {
  font-size: 14px;
  color: #767676;
  margin-bottom: 20px;
}
#contain > section.sub_visual .etc > p:nth-of-type(3) {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom: 25px;
}
#contain > section.sub_visual .etc > p:nth-of-type(3) img {
  width: 18px;
  margin-right: 5px;
}
#contain > section.sub_visual .etc > p:nth-of-type(3) b {
  font-size: 14px;
  margin-right: 10px;
}
#contain > section.sub_visual .etc > p:nth-of-type(3) span {
  font-weight: bold;
}
#contain > section.sub_visual .etc > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  border-radius: 10px;
}
#contain > section.sub_visual .etc > div img {
  width: 18px;
}
#contain > section.sub_visual .etc > div div {
  width: 50%;
  float: left;
  text-align: center;
}
#contain > section.sub_visual .etc > div div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 17px;
  font-weight: bold;
  color: #4dac27;
}
#contain > section.sub_visual .etc > div div:nth-of-type(1) img:not(:nth-last-of-type(1)) {
  margin-right: 3px;
}
#contain > section.sub_visual .etc > div div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 15px;
  font-weight: bold;
  color: #474c98;
  border-left: 1px solid #ddd;
}
#contain > section.sub_visual .etc > div div p:nth-of-type(2) {
  padding: 5px 0;
}
#contain > section.sub_visual .etc > div div p:nth-last-of-type(1) {
  font-size: 13px;
  color: #767676;
}
#contain > section.sub_visual .etc > div div p:nth-last-of-type(1) span {
  color: #222;
}
#contain > section.sub_visual .img_box {
  text-align: center;
  width: 380px;
  position: relative;
}
#contain > section.sub_visual .img_box .img_boxy {
  width: 100%;
  height: 575px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
#contain > section.sub_visual .img_box .img_boxy li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
#contain > section.sub_visual .img_box .img_boxy li img, #contain > section.sub_visual .img_box .img_boxy li div {
  width: 100%;
}
#contain > section.sub_visual .img_box .img_boxy li:not(:nth-of-type(1)) {
  display: none;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) .a4 {
  margin-top: 160px;
  font-size: 13px;
  width: 184px;
  height: 260px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 90px;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) .a4 b {
  font-size: 16px;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) .a4 p {
  line-height: 20px;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) > div:nth-last-of-type(1) {
  width: 30%;
  margin-left: 20px;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) > div:nth-last-of-type(1) img {
  width: 100%;
  border: 1px solid #ddd;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) > p {
  width: 100%;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) > p:nth-of-type(1) {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  margin-right: 60px;
  padding-top: 10px;
}
#contain > section.sub_visual .img_box .img_boxy li:nth-last-of-type(1) > p:nth-of-type(2) {
  font-size: 12px;
  color: #767676;
  text-align: left;
  margin: 90px 0 0 30px;
}
#contain > section.sub_visual .img_box .left_right {
  position: absolute;
  width: 112%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
#contain > section.sub_visual .img_box .left_right button {
  display: none;
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  position: relative;
}
#contain > section.sub_visual .img_box .left_right button:nth-of-type(1) {
  opacity: 0.5;
}
#contain > section.sub_visual .img_box .left_right button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
}
#contain > section.sub_visual .img_box .img_btn {
  font-weight: bold;
  font-size: 12px;
  margin-top: 25px;
}
#contain > section.sub_visual .img_box .img_btn span:nth-of-type(2) {
  color: #767676;
}
#contain > section.sub_visual .price {
  width: 330px;
}
#contain > section.sub_visual .price .bage_box p {
  font-size: 12px;
  display: inline-block;
  padding: 3px;
  border: 1px solid #ddd;
  color: #767676;
  border-radius: 5px;
  margin-bottom: 5px;
}
#contain > section.sub_visual .price .bage_box p.choice {
  border-color: #474c98;
  color: #474c98;
}
#contain > section.sub_visual .price table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
#contain > section.sub_visual .price table tr {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
#contain > section.sub_visual .price table tr th {
  text-align: left;
  width: 100px;
}
#contain > section.sub_visual .price table tr td {
  padding: 20px 0;
}
#contain > section.sub_visual .price table tr:not(:nth-of-type(1), :nth-last-of-type(1)) td:nth-last-of-type(1) {
  text-align: right;
}
#contain > section.sub_visual .price table tr:nth-of-type(1) span {
  text-align: left;
  margin-right: 5px;
  font-size: 24px;
  display: inline;
  vertical-align: baseline;
}
#contain > section.sub_visual .price table tr:nth-of-type(1) span:nth-of-type(1) {
  color: #4dac27;
  font-weight: bold;
}
#contain > section.sub_visual .price table tr:nth-of-type(1) span:nth-of-type(2) {
  color: #222;
  font-weight: bold;
}
#contain > section.sub_visual .price table tr:nth-of-type(1) span:nth-of-type(3) {
  font-size: 14px;
  color: #767676;
  text-decoration: line-through;
}
#contain > section.sub_visual .price table tr:nth-of-type(2) button {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}
#contain > section.sub_visual .price table tr:nth-of-type(2) button img {
  width: 100%;
}
#contain > section.sub_visual .price table tr:nth-of-type(3) {
  border: none;
}
#contain > section.sub_visual .price table tr:nth-of-type(3) th {
  vertical-align: top;
  padding-top: 20px;
}
#contain > section.sub_visual .price table tr:nth-of-type(3) button {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}
#contain > section.sub_visual .price table tr:nth-of-type(3) button img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
#contain > section.sub_visual .price table tr:nth-of-type(4) {
  border: none;
}
#contain > section.sub_visual .price table tr:nth-of-type(4) td {
  padding: 0;
  font-weight: bold;
}
#contain > section.sub_visual .price table tr:nth-of-type(4) button {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}
#contain > section.sub_visual .price table tr:nth-of-type(4) button img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
#contain > section.sub_visual .price table tr:nth-of-type(5) button {
  font-size: 11px;
  color: #222;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 4px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
#contain > section.sub_visual .price table tr:nth-of-type(6) {
  border: none;
}
#contain > section.sub_visual .price table tr:nth-of-type(6) td {
  width: 100%;
  text-align: left;
}
#contain > section.sub_visual .price table tr:nth-of-type(6) td span {
  float: left;
  color: #595959;
  font-size: 13px;
}
#contain > section.sub_visual .price table tr:nth-of-type(6) td button {
  float: right;
  font-size: 12px;
  color: #474c98;
  border: 1px solid #474c98;
  border-radius: 5px;
  padding: 5px;
}
#contain > section.sub_visual .price table tr:nth-of-type(6) td button img {
  width: 12px;
  vertical-align: top;
  margin-right: 4px;
}
#contain > section.sub_visual .price > button {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
#contain > section.sub_visual .price > button img {
  width: 13px;
  vertical-align: top;
  margin-right: 5px;
}
#contain > section.infor .title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#contain > section.infor .title h4 {
  width: 41%;
  font-size: 20px;
  letter-spacing: -0.105em;
}
#contain > section.infor .title p {
  font-size: 12px;
  color: #767676;
  text-align: right;
}
#contain > section.infor .substance {
  width: 100%;
  margin-top: 20px;
}
#contain > section.infor .content_left {
  width: 810px;
  float: left;
}
#contain > section.infor .content_left > div {
  width: 100%;
  margin-top: 50px;
}
#contain > section.infor .content_left > div .substance {
  width: 100%;
  margin-top: 20px;
}
#contain > section.infor .content_left > div.event {
  padding-top: 30px;
}
#contain > section.infor .content_left > div.event ul {
  display: flex;
}
#contain > section.infor .content_left > div.event ul li:not(:nth-last-of-type(1)) {
  margin-right: 20px;
}
#contain > section.infor .content_left > div.event ul li img {
  border-radius: 20px;
}
#contain > section.infor .content_left > div.event ul li h5 {
  font-size: 15px;
  margin-top: 15px;
}
#contain > section.infor .content_left > div.event ul li p {
  font-size: 13px;
  margin-top: 5px;
}
#contain > section.infor .content_left > div.bookcard .title button {
  border: 1px solid #ddd;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: relative;
}
#contain > section.infor .content_left > div.bookcard .title button img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contain > section.infor .content_left > div.bookcard .substance {
  width: 100%;
  overflow: hidden;
}
#contain > section.infor .content_left > div.bookcard .substance ul {
  width: 600%;
  overflow: hidden;
}
#contain > section.infor .content_left > div.bookcard .substance ul li {
  width: 395px;
  margin-right: 20px;
  float: left;
}
#contain > section.infor .content_left > div.bookcard .substance ul li img {
  width: 100%;
  border-radius: 20px;
}
#contain > section.infor .content_left > div.bookcard .left_right {
  position: absolute;
  width: 860px;
  margin: -230px 0 0 -25px;
  display: flex;
  justify-content: space-between;
}
#contain > section.infor .content_left > div.bookcard .left_right button {
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  position: relative;
}
#contain > section.infor .content_left > div.bookcard .left_right button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
}
#contain > section.infor .content_left > div.together .substance {
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  background-color: #f7f7f7;
}
#contain > section.infor .content_left > div.together .substance ul {
  width: 100%;
  overflow: hidden;
}
#contain > section.infor .content_left > div.together .substance ul li {
  width: 110px;
  margin-right: 20px;
  float: left;
}
#contain > section.infor .content_left > div.together .substance ul li a {
  display: block;
}
#contain > section.infor .content_left > div.together .substance ul li picture {
  display: block;
  width: 100%;
  height: 150px;
  background: skyblue;
}
#contain > section.infor .content_left > div.together .substance ul li h5 {
  font-size: 15px;
  margin-top: 10px;
}
#contain > section.infor .content_left > div.together .substance ul li p:nth-of-type(1) {
  font-size: 13px;
  margin: 10px 0 10px 0;
}
#contain > section.infor .content_left > div.together .substance ul li p:nth-of-type(2) {
  font-size: 14px;
}
#contain > section.infor .content_left > div.detail_img {
  width: 100%;
}
#contain > section.infor .content_left > div.detail_img img {
  width: 100%;
  border-radius: 20px;
}
#contain > section.infor .content_left > div.introduce .substance h5 {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 25px;
}
#contain > section.infor .content_left > div.introduce .substance > div:not(:nth-last-of-type(1)) {
  border-bottom: 1px solid #eaeaea;
}
#contain > section.infor .content_left > div.introduce .substance > div:not(:nth-of-type(1)) {
  padding: 30px 0;
}
#contain > section.infor .content_left > div.introduce .substance > div:nth-of-type(1) {
  padding-bottom: 30px;
}
#contain > section.infor .content_left > div.introduce .substance ul {
  width: 100%;
  overflow: hidden;
}
#contain > section.infor .content_left > div.introduce .substance ul:nth-of-type(1) li {
  margin-bottom: 10px;
}
#contain > section.infor .content_left > div.introduce .substance ul li {
  float: left;
  line-height: 20px;
}
#contain > section.infor .content_left > div.introduce .substance ul li a {
  font-weight: bold;
  font-size: 14px;
  color: #767676;
  display: inline-block;
}
#contain > section.infor .content_left > div.introduce .substance ul li span {
  color: #767676;
  padding: 0 10px;
}
#contain > section.infor .content_left > div.book p {
  font-size: 15px;
  color: #595959;
  line-height: 25px;
}
#contain > section.infor .content_left > div.writer .substance {
  padding: 36px 30px 40px;
  border-radius: 20px;
  background-color: #f7f7f7;
}
#contain > section.infor .content_left > div.writer .substance .title h4 {
  font-size: 16px;
  font-weight: normal;
}
#contain > section.infor .content_left > div.writer .substance .title h4 span {
  font-weight: bold;
}
#contain > section.infor .content_left > div.writer .substance .title h4 i {
  cursor: pointer;
}
#contain > section.infor .content_left > div.writer .substance .title p {
  cursor: pointer;
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #292929;
  line-height: 15px;
}
#contain > section.infor .content_left > div.writer .substance .title p img {
  height: 15px;
  vertical-align: top;
}
#contain > section.infor .content_left > div.writer .substance button {
  margin: 20px 0;
  background: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #595959;
}
#contain > section.infor .content_left > div.writer .writer_infor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#contain > section.infor .content_left > div.writer .writer_infor .img_box {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
}
#contain > section.infor .content_left > div.writer .writer_infor .img_box img {
  width: 100%;
}
#contain > section.infor .content_left > div.writer .writer_infor p {
  float: right;
  font-size: 15px;
  line-height: 23px;
  height: 70px;
  overflow: hidden;
  width: 630px;
}
#contain > section.infor .content_left > div.writer .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
#contain > section.infor .content_left > div.writer .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contain > section.infor .content_left > div.writer .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#contain > section.infor .content_left > div.writer picture {
  display: block;
  width: 110px;
  height: 150px;
  background: skyblue;
}
#contain > section.infor .content_left > div.writer h5 {
  font-size: 15px;
  margin-top: 10px;
}
#contain > section.infor .content_left > div.return p {
  font-size: 14px;
  color: #222;
  line-height: 23px;
}
#contain > section.infor .content_left > div.line {
  color: #767676;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 70px;
}
#contain > section.infor .content_left > div.line .substance h5 {
  font-size: 15px;
  color: #474c98;
  padding: 10px 0;
  line-height: 25px;
}
#contain > section.infor .content_left > div.line .substance p {
  color: #595959;
  line-height: 25px;
  font-size: 14px;
}
#contain > section.infor .content_left > div.return p {
  font-size: 14px;
  color: #222;
}
#contain > section.infor .content_left > div.publisher_review p {
  font-size: 15px;
  color: #595959;
  line-height: 25px;
}
#contain > section.infor .content_left > div.publisher_review .substance {
  height: 360px;
  overflow: hidden;
}
#contain > section.infor .content_left > div.basic {
  padding-bottom: 10px;
}
#contain > section.infor .content_left > div.basic table {
  width: 100%;
  text-align: left;
  border-top: 2px solid black;
  font-size: 14px;
  color: #767676;
  padding: 10px 0;
}
#contain > section.infor .content_left > div.basic table th {
  width: 20%;
  color: #222;
  padding: 15px 10px;
}
#contain > section.infor .content_left > div.basic table td {
  color: #767676;
}
#contain > section.infor .content_right {
  width: 330px;
  float: right;
}
#contain > section.infor .content_right > div {
  width: 100%;
  margin-top: 30px;
}
#contain > section.infor .content_right > div.push {
  margin-top: 100px;
}
#contain > section.infor .content_right > div.push img {
  border-radius: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}
#contain > section.infor .content_right > div.push .swiper {
  width: 100%;
  height: 100%;
}
#contain > section.infor .content_right > div.push .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contain > section.infor .content_right > div.push .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#contain > section.infor .content_right > div.push .swiper-slide {
  width: 80%;
}
#contain > section.infor .content_right > div.best ul {
  width: 100%;
  overflow: hidden;
}
#contain > section.infor .content_right > div.best ul li {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}
#contain > section.infor .content_right > div.best ul li a {
  display: flex;
  align-items: center;
}
#contain > section.infor .content_right > div.best ul li a picture {
  display: block;
  width: 110px;
  height: 150px;
  background: skyblue;
}
#contain > section.infor .content_right > div.best ul li a > div {
  margin-left: 20px;
}
#contain > section.infor .content_right > div.best ul li a > div h5 {
  font-size: 15px;
  margin-top: 10px;
}
#contain > section.infor .content_right > div.best ul li a > div p:nth-of-type(1) {
  font-size: 13px;
  margin: 10px 0 10px 0;
}
#contain > section.infor .content_right > div.best ul li a > div p:nth-of-type(2) {
  font-size: 14px;
}
#contain > section.infor .content_right > div.ad img {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}