#contain{
    width:100%; margin:0 auto;
    overflow: hidden;
    position:relative;
    margin-bottom:150px;
    >div.small_nav{
        width:1200px; height:50px; margin:0 auto;
        padding-top:20px;
        >button{
            float:left; margin-right:10px;
        }
        font-size:13px;
        img{width:15px;
        }
        >ul{
            >li{
                cursor: pointer;
                float:left;
                position: relative;
                h3{                
                    color:#767676;
                    font-size:13px;
                    padding-bottom:10px;
                    span{
                        font-size:5px;
                        color:#cccccc;
                        padding:0 5px;
                    }
                    img{
                        display: inline;
                        vertical-align: middle;
                        margin-left:3px;
                        border-radius: 100%;
                    }
                }
                div{
                    width:150px;
                    display:none;
                    position: absolute; left:0;
                    z-index:3;
                    border:1px solid #ddd;
                    border-radius: 10px;
                    background:white;
                    padding:10px;
                    ul{
                        li{
                            a{color:#636363}
                            &:nth-of-type(1) a{
                                color:#222;
                                font-weight:bold;
                            }
                            &:not(:nth-last-of-type(1)){
                                margin-bottom:7px;
                            }
                        }
                    }
                }
            }
        }
    }
    >div.menu{
        width:100%; height:70px;
        border-bottom:1px solid #adadad;
        background:white;
        z-index:10;
        ul{
            width:1200px; margin:0 auto;
        }
        li{
            float:left;
            line-height:68px; 
            margin-right:50px;
            color:#767676;
            font-size:16px;
            font-weight:400;
            cursor: pointer;
        }
    }
    >section{
        width:1200px; margin:0 auto;
        &.sub_visual{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin:40px auto 70px auto;
            .title{
                width:100%;
                position: relative;
                margin-bottom:40px;
                h2{
                    text-align:center;
                    font-size:28px;
                }
                button{
                    position: absolute;
                    right:0; top:0;
                    border:1px solid #ddd;
                    border-radius: 100%;
                    width:40px; height:40px;
                    img{
                        width:40%;
                        position: absolute;
                        top:50%; left:50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
            .etc{
                width:330px;
                >p{
                    &:nth-of-type(1){
                        font-size:15px;
                        font-weight:bold;
                        margin-bottom:10px;
                    }
                    &:nth-of-type(2){
                        font-size:14px;
                        color:#767676;
                        margin-bottom:20px;
                    }
                    &:nth-of-type(3){
                        display:flex;
                        align-items: center;
                        font-size:13px;
                        margin-bottom:25px;
                        img{
                            width:18px;
                            margin-right:5px;
                        }
                        b{
                            font-size:14px;
                            margin-right:10px;
                        }
                        span{
                            font-weight:bold;
                        }
                    }
                }
                >div{
                    width:100%; display:flex;
                    justify-content: center;
                    align-items: center;
                    padding:30px 0;
                    flex-wrap:wrap;
                    border:1px solid #ddd;
                    border-radius: 10px;
                    img{
                        width:18px;
                    }
                    div{
                        width:50%;
                        float:left;
                        text-align:center;
                        &:nth-of-type(1){
                            p:nth-of-type(1){
                                font-size:17px;
                                font-weight:bold;
                                color:#4dac27;
                            }
                            img:not(:nth-last-of-type(1)){
                                margin-right:3px;
                            }
                        }
                        &:nth-of-type(2){
                            p:nth-of-type(2){
                                font-size:15px;
                                font-weight:bold;
                                color:#474c98;
                                border-left:1px solid #ddd;
                            }
                        }
    
                        p:nth-of-type(2){
                            padding:5px 0;
                        }
                        p:nth-last-of-type(1){
                            font-size:13px;
                            color:#767676;
                            span{
                                color:#222;
                            }
                        }
    
                    }
                    
                }
            }
            .img_box{
                text-align:center;
                width:380px;
                position:relative;
                .img_boxy{
                    width:100%; height:575px;
                    box-shadow: 0 20px 60px rgb(0 0 0 / 12%);
                    overflow:hidden;
                    cursor: pointer;
                    position:relative;
                    li{
                        position:absolute;
                        width:100%;
                        left:0;
                        top:0;
                        img,div{
                            width:100%;
                        }
                        &:not(:nth-of-type(1)){
                            display:none;
                        }
                        &:nth-last-of-type(1){
                            display:flex;
                            justify-content:center;
                            flex-wrap: wrap;
                            align-items:flex-end;
                            .a4{
                                margin-top:160px;
                                font-size:13px;
                                width:184px; height:260px;
                                background:#f7f7f7;
                                border:1px solid #ddd;
                                text-align:center;
                                padding-top:90px;
                                b{
                                    font-size:16px;
                                }
                                p{
                                    line-height:20px;
                                }
                            }
                            >div:nth-last-of-type(1){
                                width:30%;
    
                                margin-left:20px;
                                img{
                                    width:100%;
                                    border:1px solid #ddd;
                                }
                            
                            }
                            >p{
                                width:100%;
                                &:nth-of-type(1){
                                    text-align:right;
                                    font-weight:bold;
                                    font-size:14px;
                                    margin-right:60px;
                                    padding-top:10px;
                                }
                                &:nth-of-type(2){
                                    font-size:12px;
                                    color:#767676;
                                    text-align:left;
                                    margin:90px 0 0 30px;
                                }
                            }
                        }
                    }
                }
                >.left_right{
                    position:absolute;
                    width:112%;
                    top:50%; left:50%;
                    transform:translate(-50%,-50%);
                    display: flex;
                    justify-content: space-between;
                    button{
                        &:nth-of-type(1){
                            opacity: 0.5;
                        }
                        &:nth-of-type(2){
                            width:100px; height:40px;
                            border-radius: 20px;
                            font-size:15px;
                            background-color:rgba(0,0,0,0.8);
                        }
                        display:none;
                        width:45px;
                        height:45px;
                        text-align:center;
                        vertical-align: middle;
                        border-radius: 100%;
                        color:white;
                        background-color:rgba(0,0,0,0.3);
                        font-size:20px;
                        position: relative;
                        i{
                            position:absolute;
                            top:50%; left:50%;
                            transform: translate(-50%,-50%);
                            color:white;
                            font-size:15px;
                        }
                    }
                }
                .img_btn{
                    font-weight:bold;
                    font-size:12px;
                    margin-top:25px;
                    span:nth-of-type(2){
                        color:#767676;
                    }
                }
                .big{
                    display:none;
                    position: fixed;
                    z-index:200;
                    top:0; left:0;
                    width:100%; height:100%;
                    background:rgba(0,0,0,0.5);
                    .big_img{
                        
                        position: relative;
                        top:45%; left:50%;
                        transform: translate(-50%,-50%);
                        width:400px; height:600px; z-index:201;
                        overflow: hidden;
                        li{
                            position: absolute;
                            left:0; top:0;
                            &:not(:nth-of-type(1)){
                                display:none;
                            }
                            img{
                                 width:100%;
                            }
                        }
                    }
                    .small_img{
                        position: absolute;
                        bottom:3%; left:50%;
                        transform: translate(-50%,-50%);
                        display: flex;
                        justify-content:center;
                        li{
                            float:left;
                            margin-right:10px;
                            width:80px; height:80px;
                            overflow: hidden;
                            border-radius: 10px;
                            background:black;
                            cursor: pointer;
                            &:nth-of-type(1){
                                border:3px solid white;
                            }
                            &:not(:nth-of-type(1)){
                                opacity:0.7;
                            }
                            &:hover{
                                opacity:1;
                                border:3px solid white;
                            }
                            img{
                                
                                width:100%;
                            }
                        }
                    }
                }
                button.close{
                    position: absolute;
                    top:50px; right:50px;
                    color:white;
                    font-size:40px;
                    font-weight:300;
                }
            }
            .price{
                width:330px;
                .bage_box{
                    p{
                        font-size:12px;
                        display:inline-block;
                        padding:3px;
                        border:1px solid #ddd;
                        color:#767676;
                        border-radius: 5px;
                        margin-bottom:5px;
                        &.choice{
                            border-color: #474c98;
                            color:#474c98;
                        }
                    }
                }
                table{
                    border-collapse:collapse;
                    border-spacing:0;
                    width:100%;
                    tr{
                        font-size:14px;
                        border-bottom:1px solid #ddd;
                        th{
                            text-align: left;
                            width:100px;
                        }
                        td{
                            padding:20px 0;
                        }
                        &:not(:nth-of-type(1),:nth-last-of-type(1)){
                            td{
                                &:nth-last-of-type(1){
                                    text-align:right;
                                }
                            }
                        }
                        &:nth-of-type(1){
                                span{
                                    text-align:left;
                                    margin-right: 5px;
                                    font-size: 24px;
                                    display:inline;
                                    vertical-align: baseline;
    
                                    &:nth-of-type(1){
                                        color: #4dac27;
                                        font-weight:bold;
                                    }
                                    &:nth-of-type(2){
                                        color: #222;
                                        font-weight:bold;
                                    }
                                    &:nth-of-type(3){
                                        font-size:14px;
                                        color: #767676;
                                        text-decoration:line-through;
                                    }
                                }
                        }
                        &:nth-of-type(2){
                            button{
                                width:20px; height:20px;
                                vertical-align: middle;
                                display: inline-block;
                                margin-left:5px;
                                img{
                                    width:100%;
                                }
                            }
                        }
                        &:nth-of-type(3){
                            border:none;
                            th{
                                vertical-align: top;
                                padding-top:20px;
                            }
                            button{
                                width:15px; height:15px;
                                margin-left:3px;
                                img{
                                    width:100%;
                                    vertical-align: middle;
                                    display: inline-block;
    
                                }
                            }
                        }
                        &:nth-of-type(4){
                            border:none;
                            td{
                                padding:0;
                                font-weight:bold;
                            }                        
                            button{
                                width:15px; height:15px;
                                margin-left:3px;
                                img{
                                    width:100%;
                                    vertical-align: middle;
                                    display: inline-block;
                                }
                            }
                        }
                        &:nth-of-type(5){          
                            button{
                                font-size:11px;
                                color:#222;
                                border:1px solid #ddd;
                                border-radius: 5px;
                                padding:4px;
                                font-weight:bold;
                                display: inline-block;
                                vertical-align:middle;     
                            }
                        }
                        &:nth-of-type(6){
                            border:none;
                            td{
                                width:100%;
                                text-align: left;
                                span{
                                    float:left;
                                    color: #595959;
                                    font-size: 13px;
                                }
                                button{
                                    float:right;
                                    font-size:12px;
                                    color:#474c98;
                                    border:1px solid #474c98;
                                    border-radius: 5px;
                                    padding:5px;
                                    img{
                                        width:12px;
                                        vertical-align:  top;
                                        margin-right:4px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                >button{
                    width:100%;
                    border:1px solid #ddd;
                    border-radius: 5px;
                    padding:10px;
                    font-weight:bold;
                    img{
                        width:13px;
                        vertical-align: top;
                        margin-right:5px;
                    }
                }
            }
        }
        &#infor{
            .title{
                width:100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                h4{
                    width:41%;
                    font-size:20px;
                }
                p{
                    // width:60%;
                    font-size:12px;
                    color:#767676;
                    text-align:right;
                }
            }
            .substance{
                width:100%;
                margin-top:20px;
            }
            #content_left{
                width:810px;
                float:left;
                >div{
                    width:100%;
                    margin-top:50px;
                    .substance{
                        width:100%;
                        margin-top:20px;
                    }
                    &#event{
                        padding-top:30px;
                        ul{
                            display: flex;
                            li{
                                &:not(:nth-last-of-type(1)){
                                    margin-right:20px;
                                }
                                img{
                                    border-radius: 20px;
                                }
                                h5{
                                    font-size:15px;
                                    margin-top:15px;
                                }
                                p{
                                    font-size:13px;
                                    margin-top:5px;
                                }
                            }
                        }
                        
                        
                    }
                    &#bookcard{
                        .title{
                            button{
                                border:1px solid #ddd;
                                border-radius: 100%;
                                width:40px; height:40px;
                                position: relative;
                                img{
                                    width:40%;
                                    position: absolute;
                                    top:50%; left:50%;
                                    transform: translate(-50%,-50%);
                                }
                            }
                        }
                        .substance{
                            width:100%; 
                            overflow:hidden;
                            ul{
                               width:600%; overflow: hidden;
                                li{
                                    width:395px; margin-right:20px;
                                    float:left;
                                    img{
                                        width:100%;
                                        border-radius: 20px;
                                    }
                                }  
                            }
                        }
                        .left_right{
                            position:absolute;
                            width:860px;
                            margin:-230px 0 0 -25px;
                            display: flex;
                            justify-content: space-between;
                            button{
                                display:none;
                                width:50px;
                                height:50px;
                                text-align:center;
                                vertical-align: middle;
                                border-radius: 100%;
                                color:white;
                                background-color:rgba(0,0,0,0.3);
                                font-size:20px;
                                position: relative;
                                i{
                                    position:absolute;
                                    top:50%; left:50%;
                                    transform: translate(-50%,-50%);
                                    color:white;
                                    font-size:15px;
                                }
                            }
                        }










                    }
                    &#together{
                        .substance{
                            width:100%; 
                            padding:30px;
                            border-radius: 20px;
                            background-color: #f7f7f7;
                            ul{
                                width:100%; overflow:hidden;
                                li{
                                    width:110px; margin-right:20px;
                                    float:left;
                                    a{
                                        display:block;
                                    }
                                    picture{
                                        display:block;
                                        width:100%;
                                        img{
                                            width:100%;
                                        }
                                    }
                                    h5{
                                        font-size:15px;
                                        margin-top:10px;
                                    }
                                    p:nth-of-type(1){
                                        font-size:13px;
                                        margin:10px 0 10px 0;
                                    }
                                    p:nth-of-type(2){
                                        font-size:14px;
                                        span{
                                            font-weight:bold;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                    &#detail_img{
                        width:100%;
                        img{
                            width:100%;
                            border-radius:20px;
                        }
                    }
                    &.introduce{
                        .substance{
                            h5{
                                font-size:15px;
                                margin-bottom:10px;
                                line-height:25px;
                            }
                            >div{
                                &:not(:nth-last-of-type(1)){
                                    border-bottom:1px solid #eaeaea;
                                }

                                &:not(:nth-of-type(1)){
                                    padding:30px 0;
                                }

                                &:nth-of-type(1){
                                    padding-bottom:30px;
                                }
                            }
                            ul{
                                &:nth-of-type(1){
                                    li{
                                        margin-bottom:10px;
                                    }
                                }
                                width:100%;
                                overflow: hidden; 
                                li{
                                    float:left;
                                    line-height:20px;
                                    a{
                                        font-weight:bold;
                                        font-size:14px;
                                        color:#767676;
                                        display:inline-block;
                                    }
                                    span{
                                        color:#767676;
                                        padding:0 10px;
                                    }
                                }

                            }

                        }
                    }
                    &#book{
                        p{
                            font-size:15px;
                            color:#595959;
                            line-height:25px;
                        }
                    }
                    &#writer{
                        .substance{
                            padding: 36px 30px 40px;
                            border-radius: 20px;
                            background-color: #f7f7f7;
                            .title{
                                h4{
                                    font-size:16px;
                                    font-weight: normal;
                                    span{
                                        font-weight:bold;
                                    }
                                    i{
                                        cursor: pointer;
                                    }
                                }
                                p{
                                    cursor: pointer;
                                    background:white;
                                    border:1px solid #ddd;
                                    padding:5px;
                                    border-radius: 5px;
                                    font-size:12px;
                                    color:#292929;
                                    line-height:15px;
                                    img{
                                        height:15px;
                                        vertical-align: top;
                                    }
                                }
                                
                            }
                            >button{
                                margin:20px 0;
                                background:white;
                                padding:10px 15px;
                                border-radius: 20px;
                                font-size: 13px;
                                font-weight:bold;
                                color:#595959;
                            }
                        }
                        .writer_infor{
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;

                            .img_box{
                                width:100px; height:100px;
                                border-radius: 100%;
                                overflow: hidden;
                                img{
                                    width:100%;
                                }
                                float:left;
                            }
                            .history{
                                float:right;                    
                                font-size: 15px;
                                line-height: 23px;
                                margin-bottom:30px;
                                width:630px;
                                p{
                                    height:70px; overflow:hidden;
                                }
                            }

                        }
                        .swiper {
                            width: 100%;
                            height: 100%;
                            padding-bottom:50px;
                          }
                      
                        .swiper-slide {
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                      
                        .swiper-slide img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        picture{
                            display:block;
                            width:110px;
                            border:1px solid #c9c9c9;
                        }
                        h5{
                            font-size:13px;
                            padding-top:20px;
                        }
                    }
                    &#return{
                        p{
                            font-size:14px;
                            color:#222;
                            line-height:23px;
                        }
                    }
                    &.line{
                        color:#767676;
                        border-bottom:1px solid #eaeaea;
                        padding-bottom:70px;
                            .substance{
                                h5{
                                    font-size:15px;
                                    color:#474c98;
                                    padding:10px 0;
                                    line-height:25px;
                                }
                                p{
                                    color:#595959;
                                    line-height:25px;
                                    font-size:14px;
                                }
                            }
                    }
                    &#return{
                        p{
                            font-size:14px;
                            color:#222;
                        }
                        >div>p{
                            background:#f7f7f7;
                            padding:20px;
                            border-radius:10px;
                            font-size:13px;
                            color:#595959;
                        }
                    }
                    &#publisher_review{
                        p{
                            font-size:15px;
                            color:#595959;
                            line-height:25px;
                            height:100px;
                            overflow: hidden;
                        }
                    }
                    &#basic{
                        padding-bottom:10px;
                        table{
                            width:100%;
                            text-align: left;
                            border-top:2px solid black;
                            font-size:14px;
                            color:#767676;
                            padding:10px 0;
                            th{
                                width:20%;
                                color:#222;
                                padding: 15px 10px;
                            }
                            td{
                                color:#767676;
                            }
                        }
                    }
                    &#review{
                        .review_box{
                            width:100%;
                            background-color: #f7f7f7;
                            border: 1px solid #d5d5d5;
                            border-radius: 20px;
                            padding:30px 0;
                            display:flex;
                            justify-content: space-between;
                            text-align:center;
                            >div{
                                width:50%;
                                &:nth-of-type(1){
                                    border-right:1px solid #d5d5d5;
                                    h5{
                                        font-size:15px;
                                        margin-bottom:8px;
                                    }
                                    >div{
                                        display:flex;
                                        justify-content: center;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        img{
                                            width:18px; height:18px;
                                            margin-right:4px;
                                        }                    
                                        p{
                                            font-size:14px;
                                            color:#595959;
                                            span{
                                                color:#4dac27; font-weight:bold;
                                                font-size:20px;
                                            }
                                        }                    
                                    }
                                    ul{
                                        margin-top:30px;
                                        font-size:13px;
                                        color:#595959;
                                        li{
                                            margin-top:20px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            flex-wrap: wrap;
                                            .review_bar{
                                                width:200px;
                                                background:#e4e4e4;
                                                height:5px;
                                                border-radius: 5px;
                                                margin:0 10px;
                                                div{
                                                    background:#4dac27;
                                                    height:5px;
                                                    border-radius: 5px;
                                                }
                                            }
                                            img{
                                                width:15px; height:15px;
                                            }
                                            &:nth-of-type(4){
                                                .review_bar>div{
                                                    width:50px;
                                                    background:#4dac27;
                                                    height:5px;
                                                    border-radius: 5px;
                                                }
                                                img{
                                                    &:nth-of-type(n+2){
                                                        opacity:0.5;
                                                    }
                                                }
                                            }
                                            &:nth-of-type(1){
                                                .review_bar>div{
                                                    width:200px;
                                                }
                                            }
                                            &:nth-of-type(2){
                                                .review_bar>div{
                                                    width:150px;
                                                }
                                                img{
                                                    &:nth-of-type(n+4){
                                                        opacity:0.5;
                                                    }
                                                }
                                            }
                                            &:nth-of-type(3){
                                                .review_bar>div{
                                                    width:100px;
                                                }
                                                img{
                                                    &:nth-of-type(n+3){
                                                        opacity:0.5;
                                                    }
                                                }
                                            }
                                            &:nth-of-type(4){
                                                .review_bar>div{
                                                    width:50px;
                                                }
                                                img{
                                                    &:nth-of-type(n+2){
                                                        opacity:0.5;
                                                    }
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                                &:nth-of-type(2){
                                    h5{
                                        font-size:16px;
                                        font-weight:500;
                                        line-height:25px;
                                        img{
                                            width:18px; 
                                            margin-right:10px;
                                        }
                                        span{
                                            color:#474c98;
                                            font-weight:bold;
                                        }
                                    }
                                    ul{ 
                                        width:80%;
                                        margin:35px auto 0 auto ;
                                        display: flex;
                                        justify-content:space-between;
                                        font-size:12px;
                                        color:#595959;
                                        li{
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            .review_bar{
                                                height:80px;
                                                background:#e4e4e4;
                                                width:6px;
                                                border-radius:5px;
                                                margin:10px 0 5px 0;
                                                position: relative;
                                                >div{
                                                    background:#575757;
                                                    width:6px;
                                                    border-radius:5px;
                                                    bottom:0;
                                                    position: absolute;
                                                }
                                            }
                                            p{
                                                &:nth-of-type(1){
                                                    span{
                                                    background:#474c98;
                                                    color:white;
                                                    padding:3px 7px;
                                                    font-weight:bold;
                                                    border-radius: 15px;
                                                    }
                                                }
                                                &:nth-of-type(2){
                                                    span{
                                                        color:#474c98;
                                                        font-weight:bold;
                                                    }
                                                }
                                            }
                                            &:nth-of-type(1){
                                                .review_bar>div{
                                                    height:0px;
                                                }
                                            }
                                            &:nth-of-type(2){
                                                .review_bar>div{
                                                    height:17px;
                                                }
                                            }
                                            &:nth-of-type(3){
                                                .review_bar>div{
                                                    height:0px;
                                                }
                                            }
                                            &:nth-of-type(4){
                                                .review_bar>div{
                                                    height:30px;
                                                    background:#474c98;
                                                }
                                            }
                                            &:nth-of-type(5){
                                                .review_bar>div{
                                                    height:20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                        .review_title{
                            margin-top:30px;
                            height:42px;
                            border-bottom:1px solid #e0e0e0;
                            li{
                                float:left;
                                font-size:14px;
                                line-height:40px;
                                margin-right:20px;
                                cursor: pointer;
                                color:#adadad;
                                &:nth-of-type(2){
                                    font-weight:bold;
                                    border-bottom:2px solid #222;
                                    color:#222;
                                }
                            }
                        }
                        .review_content{
                            clear:both;
                            img{
                                width:15px; height:15px;
                                cursor: pointer;
                            }
                            li{
                                padding:20px 0 20px 10px; overflow: hidden;
                                // &:not(:nth-last-of-type(1)){
                                    border-bottom:1px solid #e0e0e0
                                // }
                            }

                            .id{
                                margin-bottom:20px;
                                color:#767676;
                                font-size:12px;
                                float:left;
                                button{
                                    font-size:12px;
                                    color:#767676;
                                }
                                span{
                                    padding:2px 5px;
                                    border-radius:10px;
                                    font-weight:bold;
                                    margin-right:5px;
                                    &:nth-of-type(1){
                                        background:#dee1ff;
                                        font-weight:bold;
                                        color:#767676;
                                    }
                                    &:nth-of-type(2){
                                        font-weight:bold;
                                        color:#595959;
                                        border:1px solid #595959;
                                    }
                                }
                            }
                            .one_comment{
                                float:right;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                div{
                                    color:#b4b4b4;
                                    margin-left:5px;
                                    span{
                                        color:#474c98;
                                        font-size:14px;
                                        font-weight:bold;
                                    }
                                }

                            }
                            p{
                                float:left;
                                width:100%;
                                font-size:14px;
                                line-height:25px;
                                color:#222;
                                font-weight:bold;
                            }
                            .like{
                                float:right;
                                font-size:12px;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                img{
                                    width:20px;
                                    height:20px;
                                    margin:0 5px 0 10px;
                                }
                            }
                        }
                    }
                    button.infor_show{
                        background:none;
                        display:flex;
                        align-items: center;
                        color:#767676;
                        padding:10px 0;
                        width:100%;

                        img{
                            width:20px;
                            margin-left:5px;
                            border:none;
                        }
                    }              
                }      
            }
            #content_right{
                width:330px;
                float:right;
                >div{
                    width:100%;
                    margin-top:30px;
                    &#push{
                        margin-top:100px;

                        img{
                            border-radius: 20px;
                            margin-bottom:30px;
                            cursor: pointer;
                        }
                        .swiper {
                            width: 100%;
                            height: 100%;
                          }
                      
                          .swiper-slide {
                            text-align: center;
                            font-size: 18px;
                            background: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          }
                      
                          .swiper-slide img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                          }
                          .swiper-slide {
                            width: 80%;
                          }
                          
                    }
                    &.ranking{
                        ul{
                            width:100%; overflow:hidden;

                            li{
                                width:100%; margin-right:20px;
                                margin-bottom:20px;
                                &:nth-of-type(1) div>span{
                                    background-color: #4dac27;
                                }
                                a{
                                    display:flex;
                                    align-items: center;
                                    picture{
                                        display:block;
                                        border:1px solid #bebebe;
                                        a{
                                            width:110px;
                                            img{
                                                width:100%;
                                            }
                                        } 
                                        
                                    }
                                    >div{
                                        margin-left:20px;
                                        h5{
                                            font-size:15px;
                                            margin-top:10px;
                                        }
                                        p:nth-of-type(1){
                                            font-size:14px;
                                            margin:10px 0 15px 0;
                                        }
                                        >p:nth-of-type(2){
                                            font-size:14px;
                                            font-weight:bold;
                                            float:left;
                                            color:#4dac27;
                                            margin-right:5px;
                                        }
                                        p:nth-of-type(3){
                                            font-size:14px;
                                            span{
                                                font-weight:bold;
                                            }
                                        }
                                        
                                    }
                                }
                                
                                
                            }
                        }
                    }
                    &#best{
                        .substance div{
                            >span{
                                display:inline-block;
                                width:20px; height:20px;
                                color:white;
                                background:#7c7c7c;
                                font-size:12px;
                                line-height:20px; text-align: center;
                                font-weight:bold;
                                border-top-left-radius: 6px;
                                border-bottom-right-radius: 6px;
                            }
                        }
                    }
                    &#ad{
                        img{
                            width:100%;
                            border-radius: 15px;
                            overflow:hidden;
                        }
                    }
                }

            }

        }
    } 
}
#buy_wrap{
    width:100%;
    height:95px;
    position: fixed;
     z-index:100;
    bottom:0;
    background:white;
    border-top:1px solid #767676;
    .buy{
        width:1200px; height:100%; margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div{
            height:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .price{
            p{
                font-size:15px; margin-right:10px;
                font-weight:bold;
            }
            h2{
                font-size:25px;
            }
        }

        .howmany{
            >div{
                border:1px solid #adadad;
                border-radius: 5px;
                height:50px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding:0 15px;
                font-weight:bold;
                font-size:16px;
                margin-left:5px;
                cursor: pointer;
                &:nth-of-type(1){
                    margin-right:20px;
                    height:40px;
                    padding:0;
                    justify-content: space-between;
                    button{
                        height:100%;
                        width:35px;
                        
                        cursor: pointer;
                        img{
                            width:10px;
                        }
                    }
                    input{
                        border:none;
                        width:30px;
                        height:100%;
                        font-size:15px;
                        text-align: center;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }
                &:nth-of-type(4){
                    background:gray;
                    color:white;
                    border:none;
                    padding:0 30px;
                }
                &:nth-of-type(5){
                    border:1px solid #474c98;                    
                    color:white;
                    overflow:hidden;
                    padding:0;
                    >div{
                        height:100%; vertical-align: middle;
                        width:50%; padding:0 20px;
                        line-height:50px;
                        &:nth-of-type(1){
                            background:white;
                            color:#474c98;
                        }
                        &:nth-of-type(2){
                            background:#474c98;
                            color:white;
                        }
                    }
                }
                img{
                    width:20px;
                }
                b{
                    margin-left:5px;
                }

                
                
            }
        }

    }

}

footer{
    padding-bottom:95px;
}
