

#contain{
    width:100%; margin:0 auto;
    overflow: hidden;
    position:relative;
    >div.small_nav{
        width:1200px; height:50px; margin:0 auto;
        padding-top:20px;
        >button{
            float:left; margin-right:10px;
        }
        font-size:13px;
        img{width:15px;
        }
        >ul{
            >li{
                cursor: pointer;
                float:left;
                position: relative;
                h3{                
                    color:#767676;
                    font-size:13px;
                    padding-bottom:10px;
                    span{
                        font-size:5px;
                        color:#cccccc;
                        padding:0 5px;
                    }
                    img{
                        display: inline;
                        vertical-align: middle;
                        margin-left:3px;
                        border-radius: 100%;
                    }
                }
                div{
                    width:150px;
                    display:none;
                    position: absolute; left:0;
                    z-index:3;
                    border:1px solid #ddd;
                    border-radius: 10px;
                    background:white;
                    padding:10px;
                    ul{
                        li{
                            a{color:#636363}
                            &:nth-of-type(1) a{
                                color:#222;
                                font-weight:bold;
                            }
                            &:not(:nth-last-of-type(1)){
                                margin-bottom:7px;
                            }
                        }
                    }
                }
            }
        }
    }
    >div.menu{
        width:100%; height:70px;
        border-bottom:1px solid #767676;
        ul{
            width:1200px; margin:0 auto;
        }
        li{
            a{
                display:block;
                color:#767676;
                font-size:16px;
                line-height:70px;
                font-weight:400;
            }
            float:left;
            line-height:70px; 
            margin-right:50px;
        }
    }
    >section{
        width:1200px; margin:0 auto;
        &.sub_visual{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin:40px auto 70px auto;
            .title{
                width:100%;
                position: relative;
                margin-bottom:40px;
                h2{
                    text-align:center;
                    font-size:28px;
                }
                button{
                    position: absolute;
                    right:0; top:0;
                    border:1px solid #ddd;
                    border-radius: 100%;
                    width:40px; height:40px;
                    img{
                        width:40%;
                        position: absolute;
                        top:50%; left:50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
            .etc{
                width:330px;
                >p{
                    &:nth-of-type(1){
                        font-size:15px;
                        font-weight:bold;
                        margin-bottom:10px;
                    }
                    &:nth-of-type(2){
                        font-size:14px;
                        color:#767676;
                        margin-bottom:20px;
                    }
                    &:nth-of-type(3){
                        display:flex;
                        align-items: center;
                        font-size:13px;
                        margin-bottom:25px;
                        img{
                            width:18px;
                            margin-right:5px;
                        }
                        b{
                            font-size:14px;
                            margin-right:10px;
                        }
                        span{
                            font-weight:bold;
                        }
                    }
                }
                >div{
                    width:100%; display:flex;
                    justify-content: center;
                    align-items: center;
                    padding:30px 0;
                    flex-wrap:wrap;
                    border:1px solid #ddd;
                    border-radius: 10px;
                    img{
                        width:18px;
                    }
                    div{
                        width:50%;
                        float:left;
                        text-align:center;
                        &:nth-of-type(1){
                            p:nth-of-type(1){
                                font-size:17px;
                                font-weight:bold;
                                color:#4dac27;
                            }
                            img:not(:nth-last-of-type(1)){
                                margin-right:3px;
                            }
                        }
                        &:nth-of-type(2){
                            p:nth-of-type(2){
                                font-size:15px;
                                font-weight:bold;
                                color:#474c98;
                                border-left:1px solid #ddd;
                            }
                        }
    
                        p:nth-of-type(2){
                            padding:5px 0;
                        }
                        p:nth-last-of-type(1){
                            font-size:13px;
                            color:#767676;
                            span{
                                color:#222;
                            }
                        }
    
                    }
                    
                }
            }
            .img_box{
                text-align:center;
                width:380px;
                position:relative;
                .img_boxy{
                    width:100%; height:575px;
                    box-shadow: 0 20px 60px rgb(0 0 0 / 12%);
                    overflow:hidden;
                    cursor: pointer;
                    position:relative;
                    li{
                        position:absolute;
                        width:100%;
                        left:0;
                        top:0;
                        img,div{
                            width:100%;
                        }
                        &:not(:nth-of-type(1)){
                            display:none;
                        }
                        &:nth-last-of-type(1){
                            display:flex;
                            justify-content:center;
                            flex-wrap: wrap;
                            align-items:flex-end;
                            .a4{
                                margin-top:160px;
                                font-size:13px;
                                width:184px; height:260px;
                                background:#f7f7f7;
                                border:1px solid #ddd;
                                text-align:center;
                                padding-top:90px;
                                b{
                                    font-size:16px;
                                }
                                p{
                                    line-height:20px;
                                }
                            }
                            >div:nth-last-of-type(1){
                                width:30%;
    
                                margin-left:20px;
                                img{
                                    width:100%;
                                    border:1px solid #ddd;
                                }
                            
                            }
                            >p{
                                width:100%;
                                &:nth-of-type(1){
                                    text-align:right;
                                    font-weight:bold;
                                    font-size:14px;
                                    margin-right:60px;
                                    padding-top:10px;
                                }
                                &:nth-of-type(2){
                                    font-size:12px;
                                    color:#767676;
                                    text-align:left;
                                    margin:90px 0 0 30px;
                                }
                            }
                        }
                    }
                }
                .left_right{
                    position:absolute;
                    width:110%;
                    top:50%; left:50%;
                    transform:translate(-50%,-50%);
                    display: flex;
                    justify-content: space-between;
                    button{
                        &:nth-of-type(1){
                            opacity: 0.5;
                        }
                        display:none;
                        width:50px;
                        height:50px;
                        text-align:center;
                        vertical-align: middle;
                        border-radius: 100%;
                        color:white;
                        background-color:rgba(0,0,0,0.3);
                        font-size:20px;
                    }
                }
                .img_btn{
                    font-weight:bold;
                    font-size:12px;
                    margin-top:25px;
                    span:nth-of-type(2){
                        color:#767676;
                    }
                }
            }
            .price{
                width:330px;
                .bage_box{
                    p{
                        font-size:12px;
                        display:inline-block;
                        padding:3px;
                        border:1px solid #ddd;
                        color:#767676;
                        border-radius: 5px;
                        margin-bottom:5px;
                        &.choice{
                            border-color: #474c98;
                            color:#474c98;
                        }
                    }
                }
                table{
                    border-collapse:collapse;
                    border-spacing:0;
                    width:100%;
                    tr{
                        font-size:14px;
                        border-bottom:1px solid #ddd;
                        th{
                            text-align: left;
                            width:100px;
                        }
                        td{
                            padding:20px 0;
                        }
                        &:not(:nth-of-type(1),:nth-last-of-type(1)){
                            td{
                                &:nth-last-of-type(1){
                                    text-align:right;
                                }
                            }
                        }
                        &:nth-of-type(1){
                                span{
                                    text-align:left;
                                    margin-right: 5px;
                                    font-size: 24px;
                                    display:inline;
                                    vertical-align: baseline;
    
                                    &:nth-of-type(1){
                                        color: #4dac27;
                                        font-weight:bold;
                                    }
                                    &:nth-of-type(2){
                                        color: #222;
                                        font-weight:bold;
                                    }
                                    &:nth-of-type(3){
                                        font-size:14px;
                                        color: #767676;
                                        text-decoration:line-through;
                                    }
                                }
                        }
                        &:nth-of-type(2){
                            button{
                                width:20px; height:20px;
                                vertical-align: middle;
                                display: inline-block;
                                margin-left:5px;
                                img{
                                    width:100%;
                                }
                            }
                        }
                        &:nth-of-type(3){
                            border:none;
                            th{
                                vertical-align: top;
                                padding-top:20px;
                            }
                            button{
                                width:15px; height:15px;
                                margin-left:3px;
                                img{
                                    width:100%;
                                    vertical-align: middle;
                                    display: inline-block;
    
                                }
                            }
                        }
                        &:nth-of-type(4){
                            border:none;
                            td{
                                padding:0;
                                font-weight:bold;
                            }                        
                            button{
                                width:15px; height:15px;
                                margin-left:3px;
                                img{
                                    width:100%;
                                    vertical-align: middle;
                                    display: inline-block;
                                }
                            }
                        }
                        &:nth-of-type(5){          
                            button{
                                font-size:11px;
                                color:#222;
                                border:1px solid #ddd;
                                border-radius: 5px;
                                padding:4px;
                                font-weight:bold;
                                display: inline-block;
                                vertical-align:middle;     
                            }
                        }
                        &:nth-of-type(6){
                            border:none;
                            td{
                                width:100%;
                                text-align: left;
                                span{
                                    float:left;
                                    color: #595959;
                                    font-size: 13px;
                                }
                                button{
                                    float:right;
                                    font-size:12px;
                                    color:#474c98;
                                    border:1px solid #474c98;
                                    border-radius: 5px;
                                    padding:5px;
                                    img{
                                        width:12px;
                                        vertical-align:  top;
                                        margin-right:4px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                >button{
                    width:100%;
                    border:1px solid #ddd;
                    border-radius: 5px;
                    padding:10px;
                    font-weight:bold;
                    img{
                        width:13px;
                        vertical-align: top;
                        margin-right:5px;
                    }
                }
            }
        }
        &.infor{
            .content_left{
                width:810px;
                float:left;
                // background:gold;
                >div{
                    width:100%;
                    margin-top:70px;
                    .title{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        h4{
                            width:40%;
                            font-size:20px;
                        }
                        p{
                            width:60%;
                            font-size:12px;
                            color:#767676;
                        }
                    }
                    .substance{
                        width:100%;
                        margin-top:20px;
                    }
                    &.event{
                        padding-top:30px;
                        ul{
                            display: flex;
                            li{
                                &:not(:nth-last-of-type(1)){
                                    margin-right:20px;
                                }
                                img{
                                    border-radius: 20px;
                                }
                                h5{
                                    font-size:15px;
                                    margin-top:15px;
                                }
                                p{
                                    font-size:13px;
                                    margin-top:5px;
                                }
                            }
                        }
                        
                        
                    }
                    &.bookcard{
                        .title{
                            button{
                                border:1px solid #ddd;
                                border-radius: 100%;
                                width:40px; height:40px;
                                position: relative;
                                img{
                                    width:40%;
                                    position: absolute;
                                    top:50%; left:50%;
                                    transform: translate(-50%,-50%);
                                }
                            }
                        }
                        .substance{
                            width:100%; 
                            overflow:hidden;
                            ul{
                               width:600%; overflow: hidden;
                                li{
                                    width:395px; margin-right:20px;
                                    float:left;
                                    img{
                                        width:100%;
                                        border-radius: 20px;
                                    }
                                }  
                            }
                        }
                        .left_right{
                            position:absolute;
                            width:860px;
                            margin:-230px 0 0 -25px;
                            display: flex;
                            justify-content: space-between;
                            button{
                                display:none;
                                width:50px;
                                height:50px;
                                text-align:center;
                                vertical-align: middle;
                                border-radius: 100%;
                                color:white;
                                background-color:rgba(0,0,0,0.3);
                                font-size:20px;
                            }
                        }










                    }
                    &.together{
                        .substance{
                            width:100%; 
                            padding:30px;
                            border-radius: 20px;
                            background-color: #f7f7f7;
                            ul{
                                width:100%; overflow:hidden;
                                li{
                                    width:110px; margin-right:20px;
                                    float:left;
                                    a{
                                        display:block;
                                    }
                                    picture{
                                        display:block;
                                        width:100%; height:150px;
                                        background:skyblue;
                                    }
                                    h5{
                                        font-size:15px;
                                        margin-top:10px;
                                    }
                                    p:nth-of-type(1){
                                        font-size:13px;
                                        margin:10px 0 10px 0;
                                    }
                                    p:nth-of-type(2){
                                        font-size:14px;
                                    }
                                    
                                }
                            }
                        }
                    }
                    &.detail_img{
                        width:100%;
                        img{
                            width:100%;
                            border-radius:20px;
                        }
                    }
                    &.introduce{
                        .substance{
                            h5{
                                font-size:15px;
                                margin-bottom:10px;
                                line-height:25px;
                            }
                            >div{
                                &:not(:nth-last-of-type(1)){
                                    border-bottom:1px solid #eaeaea;
                                }

                                &:not(:nth-of-type(1)){
                                    padding:30px 0;
                                }

                                &:nth-of-type(1){
                                    padding-bottom:30px;
                                }
                            }
                            ul{
                                &:nth-of-type(1){
                                    li{
                                        margin-bottom:10px;
                                    }
                                }
                                width:100%;
                                overflow: hidden; 
                                li{
                                    float:left;
                                    line-height:20px;
                                    a{
                                        font-weight:bold;
                                        font-size:14px;
                                        color:#767676;
                                        display:inline-block;
                                    }
                                    span{
                                        color:#767676;
                                        padding:0 10px;
                                    }
                                }

                            }

                        }
                    }
                    &.book{
                        p{
                            font-size:15px;
                            color:#595959;
                            line-height:25px;
                        }
                    }
                    &.return{
                        p{
                            font-size:14px;
                            color:#222;
                            line-height:23px;
                        }
                    }
                    &.line{
                        color:#767676;
                        border-bottom:1px solid #eaeaea;
                        padding-bottom:70px;
                            .substance{
                                h5{
                                    font-size:15px;
                                    color:#474c98;
                                    padding:10px 0;
                                    line-height:25px;
                                }
                                p{
                                    color:#595959;
                                    line-height:25px;
                                    font-size:14px;
                                }
                            }
                    }
                    &.return{
                        p{
                            font-size:14px;
                            color:#222;
                        }
                    }
                    &.publisher_review{
                        p{
                            font-size:15px;
                            color:#595959;
                            line-height:25px;
                        }
                        .substance{
                            height:360px;
                            overflow: hidden;
                        }
                    }
                    &.basic{
                        padding-bottom:10px;
                        table{
                            width:100%;
                            text-align: left;
                            border-top:2px solid black;
                            font-size:14px;
                            color:#767676;
                            padding:10px 0;
                            th{
                                width:20%;
                                color:#222;
                                padding: 15px 10px;
                            }
                        }
                    }


                    
                }
                   
            }
            .content_right{
                width:330px;
                float:right;
            }
        }
    }

    
}
